# Python
.venv/
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/
.vite/

# Data (do NOT keep raw datasets in repo)
data/raw/
data/processed/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Others
.env
*.sqlite3
